
{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class ="col">
                        <input type="search"  name="item-name" placeholder="Entrer le nom du produit que vous chercher" class="form-control form-control-borderless">
                   </div>
                    <div class="col-auto">
                        <button type="submit"  class="btn-success">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
      {% for produit in produit_obj %}
        <div class="col-md-3">
          <div class = 'card'>
              <img src="{{ produit.image }}" alt="" class = "card-ing-top">
                <div class="card-body">
                    <div class ="card-title">{{ produit.nom }}</div>
                    <div class="card-text" style="color: #00a32e ">{{ produit.prx }} Dh</div>
                    <a href="{{ produit.id }}" class="btn btn-info">Info</a>
                    <button id="{{ produit.id}}"  class="btn aj btn-success">Add</button>
                </div>
          </div>
        </div>
    {% endfor %}
    </div>
    <div class="row mt-3">
          <div class="col-md-3 offset md-4">
              <ul class="pagination">
                  {% if produit_obj.has_previous%}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ produit_obj.previous_page_number }}">Precedent</a>
                    </li>
                  {% endif %}
                    <li class="page-item active">
                        <a class="page-link" href="?page={{ produit_obj.number }}">{{ produit_obj.number }}</a>
                    </li>
                 {% if produit_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ produit_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}
              </ul>
          </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
    console.log('Juste pour tester');
    if(localStorage.getItem('panier')==null){
        var panier = {}
    }else{
        panier = JSON.parse(localStorage.getItem('panier'));
    }
    $(document).on('click','.aj',function (){
        console.log('Add');
        var item_id = this.id.toString();
        console.log(item_id);
    });
    </script>
{% endblock %}