{% extends 'base.html' %}

{% block content %}
   <div class="row">
        <div class="col-md-6">
            <div>
                <img src="{{ produit_obj.image }}" width="500px" height="500px" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-warning display-4">
                {{ produit_obj.nom }}
            </div>
            <div class="text-danger ">
               Prix:  DH {{ produit_obj.prx }}
            </div>
            <div>
                {{ produit_obj.description }}
            </div>
            <a href="#"><button class="btn btn-success">Acheter</button></a>
        </div>
    </div>
{% endblock %}